body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #232D3F;
    color: #fff;
    padding: 20px;
}

.nama-profile {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin: 10px 0;
}

header img {
    border-radius: 50%;
    max-width: 200px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #0074a2;
}

table {
    width: 100%;
    border: 1px solid #ccc; /* Menambahkan garis di sekeliling tabel */
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc; /* Menambahkan garis di sekeliling setiap sel */
}

th {
    background-color: #0074a2;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

td img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}


footer {
    background-color: #232D3F;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.sample {
    margin: 20px 0;
}

.sample img {
    max-width: 100%;
}

.sample p {
    margin: 10px 0;
}
